@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Tauri&family=Ubuntu:wght@300;400&display=swap');




.navShadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;  
}

.bgCss{

    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.tauri-regular {
  font-family: "Tauri", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.skill-icon {
  transition: transform 0.3s ease, filter 0.3s ease;
  animation: float 3s ease-in-out infinite;
}

.skill-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 10px #0fa41b);
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.skill-icon {
  font-size: 4rem; /* size of icons */
}

.express-color {
  color: #68A063 !important; /* Express green */
}








